<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Report</title>
</head>
<body>
    <h1>Company Summary Report</h1>
    <h3>Select Company</h3>

    <form action="{{ url_for('report.company_report') }}" method="POST">
        <select name="company" id="company">
            {% for company in companies %}

            <option value="{{ company }}">{{ company }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

</body>
</html>